.career-roadmap-container {
  font-family: 'Courier New, monospace';
  background: linear-gradient(to bottom, #800000, #FF9900);
  color: #FF9900;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
 
 
 .cover-page {
  background-color: #270707;
  padding: 40px 0;
  text-align: center;
  background: linear-gradient(to botton,)
 }
 
 
 .cover-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 }
 
 
 .cover-logo img {
  width: 200px;
  margin-top:0px;
 }
 
 
 .title1 {
  font-size: 80px;
  color: #ffffff;
  margin: 40px 0;
  font-family: inherit;
  text-shadow: 5px 5px 10px rgba(255, 255, 255, 0.2);
 
 
 }
 
 
 
 
 .description {
  font-size: 25px;
  color: #270707;
  max-width: 1000px;
  margin-bottom: 263px;
  padding: 20px;
  background-color: #ffecb9;
  border-radius: 10px;
  box-shadow: 15px 15px 10px rgba(255, 255, 255, 0.2);
  text-align: center;
 }
 
 
 
 
 .get-started-button {
  background-color: #ff9900;
  color: #fff;
  font-size: 35px;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.2);
 
 
 }
 
 
 .get-started-button:hover {
  background-color: #0077ff; /* Customize the button background color on hover */
 }
 
 
 
 
 .form-label {
  font-family: 'sans-serif', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #800000;
 }
 
 
 
 
 .career-roadmap-header {
  text-align: center;
  padding: 20px 0;
 }
 
 
 .logo {
  margin-top: 0px;
  max-width: 200px;
 }
 
 
 .title2 {
  font-size: 5rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-shadow: 20px 20px 10px rgba(0, 0, 0, 0.2);;
  font-style: italic;
  font-family: Arial, sans-serif; /* Set font-family to Arial */
 
 
 }
 
 
 
 
 .career-roadmap-main {
  width: 85%;
  max-width: 700px;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.2);
 }
 
 
 .input-form {
  margin-bottom: 10px;
 }
 
 
 .form-title {
  color: #ba3737;
  font-size: 2.0rem;
  font-weight: bold;
  margin-bottom: 10spx;
 }
 
 
 .form-element {
  margin-bottom: 20px;
 }
 
 
 .form-label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #800000;
 }
 
 
 .form-input {
  width: 96%;
  padding: 10px;
  font-weight: bold;
 }
 
 
 .submit-button {
  background-color: #FF9900;
  font-size: 20px;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
 
 
  &:hover {
    background-color: #FF6600;
  }
 }
 
 
 
 
 